*.tar.gz filter=lfs diff=lfs merge=lfs -text
e=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
trained_models/** filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
asl_models/** filter=lfs diff=lfs merge=lfs -text
asl_training_data/** filter=lfs diff=lfs merge=lfs -text
